<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{base_url}}/img/logo.png" />
<meta property="og:url" content="http://{{site.domain}}" />
<meta name="author" content="ChanCMS" />
<link rel="shortcut icon" href="{{base_url}}/img/favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="{{base_url}}/css/saduo@1.2.1.css" />
<link rel="stylesheet" href="{{base_url}}/css/swiper.min.css" />
<link rel="stylesheet" href="{{base_url}}/css/main.css" />
<link rel="stylesheet" href="{{base_url}}/css/prism.css" />