.el-table {
    box-shadow: rgba(0, 21, 41, 0.12) 0px 0px 2px;
    padding: 0px;
    background: rgb(255, 255, 255);
    margin-top: 20px;
}

.el-table td.el-table__cell div {
    white-space: nowrap;
}

.el-table th.el-table__cell>.cell {
    white-space: nowrap;
}

/* .el-input {
    width: 640px;
} */

.w-auto,
.w-auto.el-input {
    width: 220px;
}

.c-ddd {
    color: #ddd;
}

code {
    background-color: #f2f2f2;
}

.fr-box.fr-basic .fr-element {
    min-height: 600px;
}

.el-upload--picture-card {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
}

.el-textarea {
    width: 640px;
}

.el-textarea__inner {
    font-family: "microsoft yaHei";
}

.w-80 {
    width: 80px !important;
}


.tips {
    color: #999;
}

.shadow {
    box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px;
    border-radius: 4px;
    padding: 25px;
    margin-top: 20px;
}

.add-btn {
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    border-radius: 20px;
}



/*分页*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager li>a:focus,
.pager li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
}

.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

.pageJump {
    display: inline-block;
    padding-left: 0;
    margin: 20px 10px;
    border-radius: 4px;
    vertical-align: top;
}

.pageJump .button,
.pageJump input {
    font-size: 16px;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pageJump input {
    width: 20px;
}

.pageJump-lg .button,
.pageJump-lg input {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pageJump-sm .button,
.pageJump-sm input {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

/* 上传图片 */
.justify-content-c {
    justify-content: center;
}

.addpic {
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
}

.addpic::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 23px;
    right: 0;
    height: 1px;
    width: 20px;
    border-bottom: 1px solid #ddd;
}

.addpic::after {
    content: "";
    position: absolute;
    left: 23px;
    bottom: 12px;
    right: 0;
    height: 23px;
    width: 1px;
    border-right: 1px solid #ddd;
}


.w640 {
    width: 640px;
}

.avatar-uploader {
    display: flex;
    justify-content: center;
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    line-height: 80px;
    vertical-align: top;
}
