/* 通用 */
@font-face {
    font-family: 'chanyue';
    src: url('../font/chanyue.ttf');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #262626;
}

[v-clock] {
    display: none;
}

a:hover {
    color: #003eb3;
}

ul>li:last-child {
    border-bottom: none;
}

.gap-20 {
    gap: 20px;
}

.radius-6 {
    border-radius: 6px;
}

.thumb-120 {
    min-width: 120px;
    max-width: 160px;
    max-height: 130px;
    border-radius: 6px;
    margin-right: 10px;
    overflow: hidden;
}

.thumb {
    width: 100%;
    height: 90px;
    border-radius: 6px;
    margin-right: 10px;
    overflow: hidden;
}

.gap-2 {
    gap: 2px;
}

.c-fff a {
    color: #fff;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.f-lighter {
    font-weight: lighter;
}

.gap-10 {
    gap: 10px 10px;
}

.more {
    font-weight: lighter;
    color: #999;
}

.border-dashed {
    border-bottom: 1px dashed #dedede;
}

.c-003a8c {
    color: #003a8c;
}

.c-f0f0f0 {
    color: #8c8c8c
}

.c-141414 {
    color: #141414;
}

.c-595959 {
    color: #595959
}

.c-bfbfbf {
    color: #bfbfbf;
}

html {
    scroll-behavior: smooth;
}

.w-1280 {
    width: 1280px;
}

.center {
    margin: 0 auto;
}

/* 首页 */
.header-wrap {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
}

.header {
    max-width: 1800px;
    width: 1280px;
}

.logo {
    height: 42px;
    background: url(../img/logo.svg) left center no-repeat;
    background-size: 50px 50px;
    font-family: "chanyue";
    font-weight: lighter;
    padding-left: 45px;
    line-height: 42px;
}

.theme {
    background: -webkit-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d, #00a0e9);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: ran 18s linear infinite;
    animation: ran 18s linear infinite;
}

.header-wrap .nav {}

.search {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 34px;
}

.search-input {
    background-color: transparent;
}


.header-wrap .nav-item {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    padding-right: 18px;
}

.header-wrap .nav-item a {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    color: rgba(0, 0, 0, 0.9);
}

.header-wrap .nav-item a:hover {
    color: #003a8c;
}

.header-wrap .sub-nav::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(242, 237, 237, 0.9) transparent;
}

.header-wrap .sub-nav {
    display: none;
    position: absolute;
    left: 50%;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    border-radius: 6px;
    z-index: 1;
    transform: translate(-50%, 0%);
    width: 100%;
}

.header-wrap .sub-nav-item {
    margin-bottom: 5px;
}

.header-wrap .nav-item:hover .sub-nav {
    display: block;
}

.ico-open {
    width: 42px;
    height: 42px;
    background: url(../img/open.svg) center center no-repeat;
    background-size: 22px 22px;
    display: none;
}

.el-button--primary {
    background-image: linear-gradient(315deg, #6772FF 0, #00F9E5 100%);
    background-size: 104% 104%;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 6px;
}

.el-button--primary a {
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
    background-color: #fff;
}

/* banner */
.banner {
    height: 340px;
    background-color: #f8f8f9;
    flex-direction: column;
}

.tips-404 {
    height: calc(100vh - 180px);
    background-color: #f8f8f9;
    flex-direction: column;
}

.chanyue {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 120px;
    line-height: 1.2;
    color: #fff;
    font-family: 'chanyue';
    background: -webkit-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d, #00a0e9);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: ran 18s linear infinite;
    animation: ran 18s linear infinite;
}

.chanyue-s {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
    font-family: 'chanyue';
    background: -webkit-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d, #00a0e9);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: ran 18s linear infinite;
    animation: ran 18s linear infinite;
}

.error-500 {
    min-height: calc(100vh - 155px);
}

@-webkit-keyframes ran {

    0%,
    to {
        backgroud-position: 0 0
    }

    50% {
        background-position: 1000px 0
    }
}

@keyframes ran {

    0%,
    to {
        backgroud-position: 0 0
    }

    50% {
        background-position: 1000px 0
    }
}


/* main */
.main {
    width: 1280px;
    flex-wrap: nowrap;
    min-height:calc(100vh - 210px)
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.w-460 {
    border-radius: 6px;
    width: 460px;
}

.w-520 {
    border-radius: 6px;
    width: 520px;
}

.notices {
    border-radius: 6px;
}

.m-title {
    padding-bottom: 12px;
    font-family: 'chanyue';
    font-weight: lighter;
}

.title-dashed {
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    border-radius: 6px;
    border-bottom: 1px dashed #f2eeee;
}

.more {
    font-size: 14px;
}

.article-index {
    width: 930px;
}

.aside-index {
    width: 250px;
}

.books {
    width: 100%;
}

.books-item {
    width: 231px;
    border-radius: 6px;
}

.m-img {
    width: 100%;
    height: 125px;
    overflow: hidden;
    display: block;
}

.m-img img {
    width: 100%;
}

.h-290 {
    height: 290px;
}

.mySwiper {
    width: 400px !important;
    height: 290px !important;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}

.mySwiper h3 {
    color: #ffffff;
    position: absolute;
    z-index: 100;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 3px 10px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
}



/* list.html */

.el-empty {
    font-family: 'chanyue';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list {
    min-height: calc(100vh - 282px);
}

.content {
    min-height: calc(100vh - 228px);
}

.page ul li {
    float: left;
    border: 1px solid #ede7e7;

    margin-right: 10px;
    color: #666;
    cursor: pointer;
    transition: all 0.5s linear;
    border-radius: 5px;
}

.page ul li.disabled {
    padding: 8px 15px;
}

.page ul li a {
    display: block;
    padding: 8px 15px;
}

.page ul li.current {
    background-color: #1e80ff;
    border: none;
}

.page ul li.current a {
    color: #fff;

}

.page ul li:hover {
    /* border: 1px solid #69b1ff; */
}

/* list-img.html */
.gap-7 {
    gap: 7px;
}

.list-img-item {
    width: 240px;
    height: 180px;
}

.list-img-item .title {
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 10px;
}

.list-img-item:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* 半透明灰色遮罩 */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* 平滑过渡 */
}

/* article.html */
.article-cont {
    line-height: 30px;
    word-break: break-word;
    font-weight: 400;
    line-height: 2;
    font-size: 17px;
    overflow-x: hidden;
    color: #000
}

.ico-speech {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icon-audio.png) no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.ico-speech.on {
    background: url(../img/icon-audio-on.png) no-repeat;
    background-size: 25px;
}



.article-cont h2:before {
    content: "# " !important;
    color: #1f7ef3;
}

.article-cont ::marker {
    color: #1f7ef3;
}

.article-cont ul {
    padding-left: 30px;
}

.article-cont ul li {
    margin-bottom: 6px;
}

.article-cont h3 {
    font-size: 24px;
    padding-left: 9px;
    border-left: 6px solid #1f7ef3;
}

.article-cont p {
    margin-bottom: 20px;
}

.article-cont img,
.article-cont video,
.article-cont audio {
    max-width: 100%;
    margin: 5px auto;
    height: auto;
}



.article-cont strong {
    padding: 1px;

}

.article-cont em {
    padding: 0 2px;

}

.article-cont h1,
.article-cont h2,
.article-cont h3,
.article-cont h4,
.article-cont h5,
.article-cont h6 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700
}

.article-cont h1 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 32px;
}

.article-cont h1:after {
    content: "";
    display: block;
    margin: 4px auto 0;
    width: 100px;
    height: 2px;
    border-bottom: 2px solid #1f7ef3
}

.article-cont h2 {
    font-size: 28px;

}

.article-cont h2:before {
    content: "# " !important;
    color: #1f7ef3
}

.article-cont h3 {
    font-size: 24px;
    padding-left: 9px;
    border-left: 6px solid #1f7ef3
}

.article-cont h4 {
    font-size: 20px
}

.article-cont hr {
    border: none;
    border-top: 1px solid #bbb;
    margin: 16px 0
}

.article-cont a {
    text-decoration: none;
    color: #198cff;
    padding: 0 2px;

}

.article-cont a:active,
.article-cont a:hover {

    color: #198cff;

    /* text-decoration: underline; */
    border-bottom: 1px solid #198cff
}

.article-cont blockquote {
    color: #3d3d3d;
    background-color: #fff9f9;
    padding: 6px 16px;
    margin: 16px 0;
    border-left: 3px solid #f07c82
}

.article-cont blockquote:after {
    display: block;
    content: ""
}

.article-cont blockquote>p {
    margin: 6px 0
}

.article-cont ol,
.article-cont ul {
    padding-left: 30px
}

.article-cont ol li,
.article-cont ul li {
    margin-bottom: 6px
}

.article-cont ol li,
.article-cont ul li {
    list-style: none
}

.article-cont ol li ol,
.article-cont ol li ul,
.article-cont ol ol,
.article-cont ol ul,
.article-cont ul li ol,
.article-cont ul li ul,
.article-cont ul ol,
.article-cont ul ul {
    margin-top: 6px
}

.article-cont ol li {
    padding-left: 6px
}

.article-cont ::marker {
    color: #f33b1f
}

.article-cont .contains-task-list {
    padding-left: 0
}

.article-cont {
    list-style: none
}

.article-cont input[type=checkbox] {
    position: relative
}

.article-cont input[type=checkbox]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #f07c82;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 1
}

.article-cont input[type=checkbox]:checked:after {
    content: "✓";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    color: #f33b1f;
    font-size: 16px;
    font-weight: 700;
    z-index: 2
}

.article-cont table {
    display: inline-block !important;
    font-size: 14px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse
}

.article-cont table thead {
    background: #fff9f9;
    color: #000;
    text-align: left;
    font-size: 15px
}

.article-cont table tr:nth-child(2n) {
    background-color: #fcfcfc
}

.article-cont table tr:hover {
    background-color: #fff9f9
}

.article-cont table td,
.article-cont table th {
    padding: 12px 7px;
    line-height: 24px;
    border: 1px solid #f9f1db
}

.article-cont table td {
    min-width: 120px
}

#article-outline li {
    cursor: pointer;
}

#article-outline li>ul {
    margin-left: 20px;
}

.k-catelog-link {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    transition: all 0.5s;
}

.k-catelog-link::before {
    transition: all 0.5s;
}

.k-catelog-link-active {
    color: #1e80ff;
}

.k-catelog-link-active::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -10px;
    width: 3px;
    height: 14px;
    background: #1e80ff;
    border-radius: 2px;
}


/* chanyue.html */
.m-card {
    width: 340px;
    margin: 20px;
    box-shadow: 0px 0px 5px #eae3e3;
    padding: 20px;
    border-radius: 6px;
}

/* pdf.html */

iframe {
    border: none;
    width: 100%;
}

@media only screen and (max-width:992px) {
    .header {
        max-width: 100%;
        width: 100%;
    }

    .main {
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;
    }

    .w-460,
    .w-520,
    .article-index,
    .main {
        width: 100%;
    }

    .logo {
        margin-left: 10px;
    }

    .el-backtop {
        right: 20px !important;
        bottom: 50px !important;
    }

    .chanyue {
        font-size: 50px;
    }

    .banner {
        height: 260px;
    }

    .h-290 {
        height: auto;
    }

    .mySwiper {
        width: 100% !important;
        height: auto !important;
    }

    .m-card {
        width: 100%;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
        border-radius: none;
    }

    .main.pd-30 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .nav,
    none {
        display: none;
    }

    .search-wrap {
        display: none;
    }

    .drawer .search-wrap {
        display: flex;
    }

    .drawer .search {
        flex: 1;
    }

    .search-input {
        width: 78%;
        background-color: transparent;
    }

    .ico-open {
        display: block;
    }

    .m-mask {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 11;
        touch-action: none;
        transition: display 0.5s;
        /* backdrop-filter: blur(8px); */
    }

    .m-mask.none {
        display: none;
    }

    .drawer {
        width: 70% !important;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
    }



    .drawer .sub-nav {
        display: block;
    }


    .drawer .nav {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;

        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        padding: 10px;
    }

    .drawer .nav .flex {
        display: block;
    }

    .drawer .nav-item {
        padding: 6px 10px;
    }

    .drawer .nav-item a {
        font-size: 16px;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.99);
    }


    .drawer .sub-nav {
        width: 100%;
    }

    .drawer .sub-nav-item {
        padding: 5px 10px;
    }

    .drawer .sub-nav-item::before {
        content: '•';
        display: inline-block;
        color: #b2abab;
        position: relative;
        top: -2px;
    }

    .drawer .nav-item:hover .sub-nav {
        display: block;
    }



    .books-item {
        width: calc((100% / 2) - 1px);
    }

    .flex-1 .mb-20:last-child {
        margin-bottom: 0px;
    }

    .footer.pd-20 {
        padding: 20px 0 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


#translate {
    display: none;
}

.api {
    display: none;
}


/* 返回顶部 */
.backtop {
    position: fixed;
    bottom: 113px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.backtop.none {
    display: none;
}

.backtop:hover {
    background-color: rgba(255, 255, 255, 0.9);
}