<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="ChanCMS—404页面">
    <meta name="keywords" content="ChanCMS,chanyue-cms" />
    <meta property="og:title" content="ChanCMS-404" />
    <meta property="og:description" content="ChanCMS,chanyue-cms" />
    <title>ChanCMS-404</title>
    <link rel="stylesheet" href="/public/template/default/css/saduo@1.1.1.css" />
</head>

<body>
    <style>

        .wrapper {
            width: 100%;
            max-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .f-80 {
            font-size: 120px;
            color: #2662f8;
        }

        .btn-gohome {
            font-size: 30px;
            color: #295bd8;
        }
    </style>
    <section class="wrapper">
        <h1 class="text-c f-80">ChanCMS-404</h1>
        <p class="f-23 text-c mt-20">访问路径未找到，路径参数异常，请求路径: {{url}}</p>
        <p class="text-c mt-20">
            <span class="btn-gohome">
                <a class="c-fff f-14" href="/">去首页</a>
                <a class="c-fff f-14" href="https://www.chancms.top/" target="_blank">ChanCMS</a>
            </span>
        </p>
    </section>
</body>

</html>