<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="ChanCMS—500页面">
    <meta name="keywords" content="ChanCMS" />
    <meta property="og:title" content="ChanCMS-500" />
    <meta property="og:description" content="ChanCMS" />
    <title>ChanCMS-500</title>
    <link rel="stylesheet" href="/public/template/default/css/saduo@1.1.1.css" />
</head>

<body>
    <style>
        .f-80 {
            font-size: 80px;
            color: #2663fc;
        }

        .btn-gohome {
            font-size: 30px;
            color: #2663fc;
        }
    </style>
    <section class="pt-30">
        <p class="text-c mt-20">
            <span class="btn-gohome">
                <a class="c-fff" href="/">去首页</a>
            </span>
        </p>
        <h1 class="mt-20 f-14">ChanCMS</h1>
        <p class="f-24 mt-20">Server Error Tips :</p>
        <p class="f-12">status: 500 </p>
        <p class="f-12">request:{{data.url}} </p>
        <p class="f-12">method:{{data.method}} </p>
        <p class="f-12">error:{{@ data.error}} </p>
    </section>
</body>

</html>